/*base styles*/
:root {
  --primary-text-color: #434455;
  --secondary-color: #2e2f42;
  --primary-white-color: #ffffff;
  --background-our-team-buttons: #f4f4fd;
  --accent-color: #4d5ae5;
  --footer-color: #e7e9fc;
  --secondary-accent-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

ul {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  font-family: inherit;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

/*header*/
.head {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.logo-span {
  color: var(--accent-color);
}

.site-nav-list {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

.site-nav-item {
  display: flex;
  position: relative;
}

.site-nav-item .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--secondary-accent-color);
}

.site-nav-item .link.current {
  color: var(--accent-color);
}

.site-nav-list .link,
.contacts-list .link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*contacts*/
.contacts-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-item {
  display: flex;
}

.menu-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon-item:not(:last-child) {
  margin-right: 56px;
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .burger-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: 3;

    background: var(--primary-white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    transform: translateY(0);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .burger-menu.is-hidden {
    transform: translateY(-100%);
  }
  .site-nav-list {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color);
  }
  .site-nav-item:not(:last-child),
  .contacts-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .site-nav-item:last-child {
    margin-bottom: 284px;
  }
  .contacts-item:last-child {
    margin-bottom: 48px;
  }
  .site-nav-list .link,
  .contacts-list .link {
    padding-top: 0;
    padding-bottom: 0;
  }
  .site-nav-item .link.current::after {
    display: none;
  }
  .icon-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;

    width: 32px;
    height: 22px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .icon-close {
    display: block;

    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: auto;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: #e7e9fc;
    outline: none;
  }
  .phone-number {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .logo-position {
    margin-right: 120px;
  }
  .burger-menu {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon-menu,
  .icon-close,
  .menu-list-icon {
    display: none;
  }
  .site-nav {
    margin-right: 120px;
  }
  .site-nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .contacts-list .link {
    padding: 0;
  }
  .contacts-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
  }
  .contacts-item:first-child {
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-position {
    margin-right: 0;
  }
  .site-nav {
    margin-right: 332px;
  }
  .contacts-list {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts-item:not(:last-child) {
    margin-right: 40px;
  }
  .contacts-item:first-child {
    margin-bottom: 0;
  }
}

/*index.html*/
.hero {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-phone.jpg);
  background-size: 428px 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-white-color);

  text-align: center;
}

.heading-hero {
  width: 494px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .heading-hero {
    width: 318px;
    font-size: 36px;
    line-height: 1.1;
  }
  .hero .buttons {
    margin-top: 72px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-phone@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 108px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-tablet.jpg");
    background-size: 768px 436px;
  }
  .hero .buttons {
    margin-top: 40px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-desktop.jpg");
    background-size: 1440px 600px;
  }
  .hero .buttons {
    margin-top: 48px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-desktop@2x.jpg");
  }
}

.hero .buttons {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-color: transparent;
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .buttons:hover,
.hero .buttons:focus {
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-icon {
  display: none;
}

.features-list h3 {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-color);
}

.features-list p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
  }
  .features-item {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100%-4 * 12px) / 2);
  }
  .features-item {
    margin-right: 12px;
    margin-left: 12px;
  }
  .features-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }
  .features-list h3 {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .features-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .features-item:not(:last-child) {
    margin-right: 24px;
  }
  .features-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    padding: 0;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;

    background-color: var(--background-our-team-buttons);
  }
  .features-list h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-list p {
    font-weight: 400;
  }
}

.activity {
  display: none;
  padding-top: 0;
}

.activity-list {
  display: flex;
  margin-top: 72px;
}

.activity-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-color);
}

.activity-item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: flex;
  }
}

.team {
  background-color: var(--background-our-team-buttons);
}

.team-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-color);
}

.team-list {
  margin-top: 72px;
}

.team-item {
  max-width: 264px;

  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team-grouping {
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list h3 {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

.team-list p {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.team-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-icon-item:not(:last-child) {
  margin-right: 24px;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--secondary-accent-color);
}

@media screen and (max-width: 767px) {
  .team-item {
    margin-right: auto;
    margin-left: auto;
  }
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-item {
    max-width: 264px;
  }
  .team-item:not(:nth-child(2n)) {
    margin-right: 24px;
  }
  .team-item:nth-child(-n + 2) {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item:not(:last-child) {
    margin-right: 24px;
  }
  .team-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  fill: #8e8f99;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-heading {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .clients-list-item:not(:nth-child(2n)) {
    margin-right: 16px;
  }
  .clients-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }
  .clients-list-item {
    flex-basis: calc((100%-16px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    flex-basis: calc((100%-48px) / 3);
  }
  .clients-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }
  .clients-list-item:not(:nth-child(3n)) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    flex-basis: calc((100%-120px) / 6);
    margin-bottom: 0;
  }
  .clients-list-item:not(:last-child) {
    margin-right: 24px;
  }
}

/*footer*/
.page-footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--secondary-color);
}

.logo-block {
  width: 268px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

footer .logo {
  text-align: center;
  color: var(--background-our-team-buttons);
}

.page-footer .logo {
  padding: 0;
}

.page-footer p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}

.footer-heading {
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.footer-position {
  margin-bottom: 72px;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list-item:not(:last-child) {
  margin-right: 16px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.email-input {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
}

.email-label {
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.email-button {
  width: 396px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: rgba(33, 150, 243, 0);
}

.email-button::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  border: var(--accent-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--secondary-accent-color);
}

.arrow-icon {
  fill: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
  }
  .footer-position {
    display: flex;
    justify-content: left;
  }
  .logo-block {
    display: inline-block;
    margin: 0 24px 0 0;
    width: 264px;
  }
  footer .logo {
    text-align: left;
  }
  .media-block {
    display: inline-block;
  }
  .footer-heading {
    text-align: left;
  }
  .email-block {
    display: flex;
    justify-content: left;
    align-items: flex-end;
  }
  .email-input {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .email-label {
    text-align: left;
  }
  .email-button {
    width: 264px;
  }
  .submit-button {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer {
    display: flex;
    align-items: flex-start;
    padding-left: 15px;
  }
  .logo-block {
    margin-right: 120px;
  }
  .footer-position {
    margin: 0 80px 0 0;
  }
}

/*portfolio.html*/
.gallery {
  padding-top: 48px;
  padding-bottom: 48px;
}

.gallery-grouping {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.gallery .button-list {
  display: flex;
  flex-wrap: wrap;
}

.button-list {
  margin-bottom: 48px;
}

.button-item:not(:last-child) {
  margin-right: 24px;
}

.button-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 16px;
}

.button-list .buttons {
  padding: 8px 16px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--accent-color);
  background-color: var(--background-our-team-buttons);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list .buttons:hover,
.button-list .buttons:focus {
  border: 1px solid var(--accent-color);

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-item {
  border-bottom: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .projects-item {
    width: 100%;
  }
  .projects-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .button-list {
    justify-content: center;
  }
  .button-list .buttons {
    padding: 12px 24px;
  }
  .projects-item {
    width: calc((100%-24px) / 2);
  }
  .projects-item:not(:nth-child(2n)) {
    margin-right: 24px;
  }
  .projects-item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .projects-item {
    width: calc((100%-72px) / 3);
  }
  .projects-item:not(:nth-child(3n)) {
    margin-right: 24px;
  }
  .projects-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
  }
}

.projects-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-list h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.projects-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 8px;
}

.overlay {
  position: relative;

  width: 100%;

  overflow: hidden;

  /* width: 360px; */
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: var(--accent-color);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .overlay::after {
  transform: translateY(0);
}

.overlay .overlay-paragraph {
  position: absolute;
  top: 40px;
  left: 32px;
  z-index: 3;
  margin-top: 0;

  color: #f4f4fd;

  transform: translatey(300%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .overlay .overlay-paragraph {
  transform: translateY(0);
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  padding: 72px 24px 24px;
  border-radius: 4px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.close-modal {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;

  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: #e7e9fc;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:focus,
.close-modal:hover {
  background-color: var(--secondary-accent-color);
}

.modal-icon {
  fill: #000;
}

.close-modal:focus .modal-icon,
.close-modal:hover .modal-icon {
  fill: var(--primary-white-color);
}

.form-paragraph {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

.modal-label {
  display: block;
}

.modal-label:not(:last-child) {
  margin-bottom: 8px;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.modal-input {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  background-repeat: no-repeat;
  background-position: center left 19px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input.username {
  background-image: url("../images/username.svg");
  background-size: 12px;
}

.modal-input.username:hover,
.modal-input.username:focus {
  background-image: url("../images/username-focus.svg");
}

.modal-input.phone {
  background-image: url("../images/phone.svg");
  background-size: 13px;
}

.modal-input.phone:hover,
.modal-input.phone:focus {
  background-image: url("../images/phone-focus.svg");
}

.modal-input.email {
  background-image: url("../images/email.svg");
  background-size: 15px 12px;
}

.modal-input.email:hover,
.modal-input.email:focus {
  background-image: url("../images/email-focus.svg");
}

.comment {
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:hover,
.comment:focus {
  border-color: var(--accent-color);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  color: #757575;
}

.checkbox-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-custom {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox-custom {
  background-color: var(--secondary-accent-color);
  background-image: url("../images/checkbox-arrow.svg");
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.checkbox-link {
  text-decoration-line: underline;
  color: #4d5ae5;
}

.modal-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: var(--secondary-accent-color);
}
